$fg-color: white;
$bg-color: hsl(237, 100%, 4%);

$accent-fg-color: hsl(220, 100%, 65%);
$accent-bg-color: hsl(220, 96%, 58%);

$card-color: hsl(234, 62%, 23%);
$card-border: $accent-bg-color solid 1px;
