@use "/src/styles/mixins" as *;

// LIGHT AND DARK THEMES STYLING

body {
  transition: all 0.3s ease-in-out;

  h5 {
    font-weight: normal;
  }

  .container {
    animation: none !important;
    @include auto-width;
  }

  &.light {
    background-color: white;
    color: black;

    h1,
    h2,
    h3 {
      @include light-blue(1, text);
    }

    h4,
    h5 {
      color: black;
    }

    .container {
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
      @include light-blue(0.05);
    }
  }

  &.dark {
    background-color: black;
    @include white-txt;

    h1,
    h2,
    h3 {
      @include cyan(1, text);
    }

    h4,
    h5 {
      color: white;
    }

    .container {
      @include box-glow(inset);
      @include dark-blue;
    }
  }
}
