@use "/src/styles/mixins" as *;

// LIGHT AND DARK THEMES STYLING

body {
  transition: all 0.3s ease-in-out;

  h5 {
    font-weight: normal;
  }

  b {
    text-shadow: none;
  }

  .container {
    @include auto-width;
  }

  .blue-gradient {
    background: linear-gradient(
      to right,
      rgba(56, 117, 250, 0.1),
      rgba(56, 117, 250, 0.025)
    );
  }

  // Page navigation: section-switcher
  .sections-tabs {
    position: relative;
    width: 95vw;
    margin-inline: auto;
    gap: 0;
    @include gray-border;
    @include light-blue(0.1);

    button {
      width: 100%;
      height: 3rem;
      padding: 0.5rem 1rem;
      font-family: $font-sans;
      z-index: 1;
      @include font(h5);

      &:hover,
      &:active,
      &:focus {
        @include light-blue(1, text);
      }

      &.active {
        @include blue(1, text);
      }
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      @include light-blue(0.25);

      &.active-tab-mobile {
        width: 100%;
        height: 3rem;
      }

      &.active-tab-pc {
        width: 10rem;
        height: 100%;
      }
    }

    @include respond-up(tablet) {
      flex-direction: row;
      max-width: 40rem;

      button {
        width: 10rem;
        height: 100%;
      }
    }
  }

  // Page navigation: #links-scroller
  .link-tabs {
    width: 95vw;
    margin-bottom: 5rem;
    gap: 0;
    @include gray-border;
    @include light-blue(0.1);

    button {
      width: 100%;
      height: 3rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-family: $font-sans;
      @include font(h5);

      &:hover,
      &:active {
        @include light-blue(1, text);
      }
    }

    @include respond-up(tablet) {
      width: auto;
      flex-direction: row;
      position: sticky;
      top: 4rem;
      z-index: 100;
      border: none;
      overflow: hidden;
      @include box-shadow;

      button {
        width: 15rem;
        height: 100%;
        z-index: 1;

        &.active {
          @include blue(1, text);
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 15rem;
        height: 100%;
        @include light-blue(0.25);
      }
    }
  }

  &.light {
    background-color: white;
    color: black;

    h1,
    h2,
    h3,
    h4,
    a:not(.button-anchor, .nohover-link) {
      @include light-blue(1, text);
    }

    h5 {
      color: black;
    }

    input {
      box-shadow: none;
      background-color: white;
      @include dark-blue(1, text);
      @include gray-border;

      &::placeholder {
        @include gray(1, text);
      }
    }

    .standard-icon {
      @include bright(0);
    }
  }

  &.dark {
    background-color: black;
    @include white-txt;

    h1,
    h2,
    h3,
    h4,
    a:not(.button-anchor, .nohover-link) {
      @include cyan(1, text);
    }

    h5 {
      color: white;
    }

    b {
      @include white-txt(1);
    }

    .container {
      background: linear-gradient(
        to right,
        rgba(1, 0, 32, 1),
        rgba(1, 0, 32, 0.75)
      );
    }

    .blue-gradient {
      background: linear-gradient(
        to right,
        rgba(1, 0, 32, 1),
        rgba(1, 0, 32, 0.85)
      );
    }

    .sections-tabs {
      @include dark-blue;

      button {
        &:hover,
        &:active,
        &:focus {
          @include cyan(1, text);
        }

        &.active {
          @include dark-blue(1, text);
        }
      }

      span {
        @include cyan;
      }
    }

    .link-tabs {
      @include dark-blue;

      button {
        &.active {
          @include dark-blue(1, text);
        }

        &:hover,
        &:active {
          @include cyan(1, text);
        }
      }

      span {
        @include cyan;
      }
    }

    .standard-icon {
      @include bright(500%);
    }
  }
}
