---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.svelte";
import Footer from "@components/Footer.svelte";
import Roadmap from "@components/Roadmap.svelte";

const title = "Roadmap";
---

<main>
  <Layout {title}>
    <Header page="roadmap" client:load />

    <Roadmap client:load />

    <Footer />
  </Layout>
</main>
