---
import Basic from "@layouts/basic.astro";

const roadmap = [
    {
        name:        "Inception Arks",
        description: "Raise funds with the Inception Arks sale and distribute the NFTs on Exosama Network - a leading NFT chain on Polkadot",
        done:        true
    },
    {
        name:        "Charity Donation",
        description: "Donate $125,000 to start organizing the service trips in partnership with Lions Club and based on our DAO’s votes",
        done:        true
    },
    {
        name:        "CoNexus Beta",
        description: "Launch the first Web3 AI interactive storytelling platform",
        done:        true
    },
    {
        name:        "Battle for Nexon",
        description: "Launch the first lore-based game, fitting into Discord Episode 2",
        done:        true
    },
    {
        name:        "Ark Assassin",
        description: "Launch the second lore-based game, fitting into Discord Episode 3",
        done:        true
    },
    {
        name:        "Service Trip",
        description: "Hold the first global service trip fully funded, organized, and attended by DeGenerous DAO - in Turkey and India in February 2024.",
        done:        true
    },
    {
        name:        "Potentials",
        description: "As the DAO voted -once Arks surpassed Exosama Network’s market cap- go multi-chain and unlock the Potentials out of Arks, doing the reveal of the dynamic evolvable avatars on Ethereum & Arbitrum",
        done:        true
    },
    {
        name:        "Dischordian Saga",
        description: "Roll out weekly AI-powered Story Nodes shaping the narrative and generating Potentials’ traits based on their voting",
        done:        false
    },
    {
        name:        "Sagaverse Gaming",
        description: "Roll out the page with new games made by our partners",
        done:        false
    },
    {
        name:        "Conexus v1",
        description: "Launch the first version of CoNexus available to the public",
        done:        false
    },
    {
        name:        "Omnihub",
        description: "Launch a singular platform allowing holders to manage their assets in one place. It can be used for connecting multiple addresses to one account, customizing & staking NFTs, token burning, managing incoming rewards, etc.",
        done:        false
    },
    {
        name:        "Vortex",
        description: "Establish our weekly lore-based gaming events",
        done:        false
    },
    {
        name:        "Token",
        description: "Launch an ERC20 utility token",
        done:        false
    },
    {
        name:        "Multiverse Bifrost",
        description: "Set up a bridge to our partners’ metaverses and games",
        done:        false
    },
    {
        name:        "Decentralized Charity",
        description: "Create a multi-sig charity wallet that anyone can donate to",
        done:        false
    },
    {
        name:        "Project Warhawk",
        description: "Launch a multiplayer top-down shooter game",
        done:        false
    },
    {
        name:        "CoNexus v2",
        description: "Integrate text-to-video and/or multiplayer functionality to CoNexus, besides better UI and more NFT innovations",
        done:        false
    },
    {
        name:        "Philanthropic Platform",
        description: "Form the first decentralized charity fundraising platform with the help of NFT (Potentials) governance and Lions volunteers to allow crypto holders to easily donate to a verifiable cause (that anybody can create) and be able to showcase it through NFTs",
        done:        false
    },
];
---

<Basic title="Roadmap | DeGenerous" page="roadmap">
    <section id="roadmap">
        <h1>Roadmap</h1>
        <ul>
            {roadmap.map(( {done, name, description}, index) => (
                <li class="task">
                    <div class="island">
                        <span class:list={["index", {done}]} style={`--idx: ${index}`} >{done? "✔" : index + 1}</span>
                        <img src="/stone.svg" alt="">
                    </div>
                    <div class="about">
                        <h3>{name}</h3>
                        <span>{description}</span>
                    </div>
                </li>
            ))}
        </ul>
    </section>
</Basic>


<style lang="scss">
  @use "@styles/imports";

  section {
    margin-block: 3rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .task {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  .island {
    position: relative;
    width: 5rem;
    min-width: 5rem;
    aspect-ratio: 3/4;
    isolation: isolate;
    left: var(--x, 0);
    top: var(--y, 0);

    img {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .index {
    position: absolute;
    background-color: imports.$accent-bg-color;
    width: 2rem;
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 100;

    top: 35%;
    left: 50%;
    translate: 0 - 50%;
  }

  .done {
    background: white;
    color: imports.$accent-fg-color;
  }

  .about {
    padding-block: 2rem;

    h3 {
      font-weight: bold;
    }
  }

  ul{
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      border-right: 0.5rem dotted rgba(imports.$fg-color, 30%);
      left: 2.25rem;
    }
  }
</style>