.highlighted-header {
  color: rgb(51, 226, 230);
  letter-spacing: 0.1vw;
}

.blurred-image {
  filter: blur(1vw) brightness(200%);
  transform: scale(0.95);
}

.visible-image {
  filter: none;
  transform: none;
}

.scaled-down {
  transform: scale(0.85);
}

.no-transform {
  transform: none;
}

.paused-animation {
  animation-play-state: paused;
}

.running-animation {
  animation-play-state: running;
}

@media only screen and (max-width: 600px) {
  .highlighted-header {
    letter-spacing: auto;
    transform: scale(1.05);
  }
  
  .blurred-image {
    filter: blur(1em) grayscale(100%);
    transform: scale(0.85);
  }

  .visible-image {
    filter: none;
    transform: none;
  }

  .scaled-down {
    transform: scale(0.75);
  }
  
  .no-transform {
    transform: none;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInSemiTransparent {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.75);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  from {
    left: 100%;
  }
  to {
    left: calc(100% / 7 * -1);
  }
}

@keyframes slide-reverse {
  from {
    right: 100%;
  }
  to {
    right: -100%;
  }
}

@keyframes translateRight {
  from {
    transform: translateX(-125%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes translateLeft {
  from {
    transform: translateX(125%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes translateBottom {
  from {
    transform: translateY(-125%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes translateTop {
  from {
    transform: translateY(125%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes logo {
  50% {
    transform: scale(1.1);
    filter: brightness(150%) drop-shadow(0 0 1vw rgba(255, 255, 255, 0.25));
    opacity: 1;
  }
  100% {
    filter: brightness(50%) blur(max(0.25vw, 0.25em));
    opacity: 0.25;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}