@use "./imports" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: 254, 33%, 12.5%;
    --bg-color-transparent: hsl(254, 33%, 12.5%, 0.7);
    --fg-color: #{$fg-color};

    --accent-color: hsl(254, 33%, 30%);
    --accent-color-transparent: hsla(254, 33%, 30%, .7);
    --accent-color-fully-transparent: hsla(254, 33%, 30%, 0);
    --on-accent-color: white;
    --accent-gradient: linear-gradient(to right, var(--accent-color), hsl(var(--bg-color)));
    --accent-gradient-reverse: linear-gradient(to left, var(--accent-color), hsl(var(--bg-color)));
    --link-color: hsl(254, 50%, 70%);

    --card-color: var(--bg-color);
    --card-text-color: white;
    --card-hover-color: hsl(254, 33%, 35%);
    --card-hover-text-color: white;
    --card-border-color: hsl(254, 33%, 40%);

    --corner-size: .35rem;
    --border-size: 2rem;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(var(--bg-color));
    color: var(--fg-color);
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: var(--card-border-color);
}

:where(h1, h2, h3, strong) {
    font-family: 'Righteous', cursive;
}

footer {
    background-color: var(--accent-color);
    color: var(--fg-color);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: .25rem;
    align-items: flex-start;

    .logo {
        font-family: 'Righteous', cursive;
        font-size: 2rem;
    }

    a {
        color: var(--fg-color);
        text-decoration: none;

        &:hover {
            opacity: 0.6;
        }
    }
}

:where(a) {
    text-decoration: none;
    color: inherit;
}

:where(a:not(.c)) {
    text-decoration: none;
    color: var(--link-color);

    &:hover {
        filter: brightness(.7);
    }

    &:active {
        filter: brightness(.5);
    }
}

:where(button) {
    background: none;
    border: none;
    font-size: 1rem;
    color: inherit;
}

:where(button:not(.c)) {
    padding: .75rem 2rem;
    color: var(--accent-color);
    background-color: #fff;
    transition: filter 0.2s;

    border: 0;
    --border-size: 1rem;
    clip-path: polygon(0 0,
            calc(100% - var(--border-size)) 0,
            100% var(--border-size),
            100% 100%,
            var(--border-size) 100%,
            0 calc(100% - var(--border-size)));

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            filter: brightness(.7);
        }

        &:active {
            filter: brightness(.5);
        }
    }

    &:disabled {
        filter: brightness(.7);
    }
}

:where(iframe) {
    width: 100%;
    aspect-ratio: 16/9;
}

:where(main) {
    min-height: 100vh;
}

:where(h1) {
    font-size: 4rem;
    padding-bottom: 3rem;
    line-height: 1;
}

:where(p) {
    margin-bottom: 1rem;
}