@use "imports";

@include imports.reset;

:where(html) {
  background-color: imports.$bg-color;
  background-image: url("/images/stars_small.png"), linear-gradient(rgba(imports.$bg-color, 85%), rgba(imports.$bg-color, 85%)), url("/images/background_small.jpg");
  background-size: cover;
  background-position: center;
  color: imports.$fg-color;

  font-family: "Inter", sans-serif;
}

:where(body) {
  line-height: 1.2;
}

:where(a, button) {
  color: imports.$accent-fg-color;

  &:hover {
    filter: brightness(80%);
  }

  &:focus {
    outline: 1px solid imports.$accent-fg-color;
  }

  &:active {
    filter: brightness(60%);
  }
}

:where(strong) {
  color: imports.$accent-fg-color;
  font-weight: bold;
}

:where(h1, h2, h3) {
  margin-block: 1rem;
}

:where(h1) {
  font-size: 3rem;
  font-weight: bold;
}

:where(h2) {
  font-size: 2rem;
}

:where(h3) {
  font-size: 1.25rem;
}

:where(p) {
  //line-height: 1.2;
}

:where(a.icon) {
  display: inline-block;
}

:where(a.button, button) {
  display: inline-block;
  color: imports.$fg-color;
  background-color: imports.$accent-bg-color;
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
}

:where(section:not(.full-width)) {
  margin-inline: auto;
  width: imports.$content-width;
}
