---
export interface Props {
  index: number;
  name: string;
  description: string;
  done: boolean;
}

const { name, done, index } = Astro.props;
---

<div>
  {name}
  <span class:list={["index", { done }]} style={`--idx: ${index}`}
    >{index + 1}</span
  >
  <img src="/stone.svg" alt="" />
</div>

<style lang="scss">
  @use "@styles/imports";

  div {
    position: absolute;
    width: 5rem;
    aspect-ratio: 3/4;
    isolation: isolate;
    left: var(--x, 0);
    top: var(--y, 0);
  }

  .index {
    position: absolute;
    background-color: imports.$accent-bg-color;
    width: 2rem;
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 100;

    top: 35%;
    left: 50%;
    translate: 0 - 50%;
  }

  .done {
    background: white;
    color: imports.$accent-fg-color;
  }

  img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>
