---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.svelte";
import Subpage from "@components/Subpage.svelte";
import Footer from "@components/Footer.svelte";

import collabs from "@constants/collabs";

export function getStaticPaths() {
  return [
    { params: { collab: "glmr-apes" } },
    { params: { collab: "anyone" } },
  ];
}

const { collab } = Astro.params;

const project = collabs.get(collab) as Collab;

const title = `DGRS x ${project.name}`;
---

<main>
  <Layout {title}>
    <Header page="collab" client:load />
    <Subpage title={project.name} {project} />
    <Footer />
  </Layout>
</main>
