---
import Layout from '../layouts/Layout.astro';
import Landing from '../sections/landing.astro';
import Capsules from '../sections/capsules.astro';
import Lions from '../sections/lions.astro';
import Team from '../sections/team.astro';
import Service from '../sections/service.astro';
import Join from '../sections/join.astro';
import Contact from '../sections/contact.astro';
---

<Layout title="Home | Degenerous">
	<main>
		<Landing />
		<Capsules />
		<Lions />
		<Service />
		<Team />
		<Join />
		<Contact />
	</main>
</Layout>
