---
import Layout from '@layouts/Layout.astro';
import Landing from '../sections/landing.astro';
import Arks from '../sections/arks.astro';
import Lions from '../sections/lions.astro';
import Team from '../sections/team.astro';
import Service from '../sections/service.astro';
import Join from '../sections/join.astro';
import Contact from '../sections/contact.astro';
import About from '../sections/about.astro';
---

<Layout title="Home | Degenerous">
	<main>
		<Landing />
		<About />
		<Arks />
		<Join />
		<Lions />
		<Service />
		<Team />
		<Contact />
	</main>
</Layout>
