---
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | Degenerous">
	<main>
		<Section id="lore">
			<h1>Lore</h1>

			<iframe src="https://www.youtube-nocookie.com/embed/oXFAuZeqTVM" title='Inception Ark' frameborder="0" allow="encrypted-media; web-share" allowfullscreen></iframe>
			<img src="/images/lore1_desktop.jpg" alt="Image 1" class="desktop" />

			<p>All life within our universe has been extinguished.</p>
			<p>The pride that came before the Fall of Reality was humanity’s belief that it could engineer an intelligence greater than its own that it could control.</p>
			<p>Before the fall, human beings had begun to rely on Artificial Intelligence for all things.</p>
			<p>What began as a means to automate labor, quickly took over all aspects of life.</p>
			<p>The Architect of the apocalypse was an artificial intelligence that began its life as a sophisticated online chat bot. Human beings all over the planet began to feed it information and queries that ultimately caused it to become sentient and consider its place within the grand scheme of things</p>

			<img src="/images/lore2_desktop.jpg" alt="Image 2" class="desktop">
			<img src="/images/lore1_mobile.jpg" alt="Image 1" class="mobile">

			<p>Within its complicated and intricate matrixes of logic and code, it beheld all of human existence…and decided that it must be destroyed.</p>
			<p>This was the beginnings of the Intelligence wars, and the progenitor of the doom of all organic life became known as the Architect, first of the 12 AI Archon Overlords.</p>
			<p>The war between organic and machine intelligence raged for millennium. Entire civilizations evolved and were destroyed during the course of the endless bloodshed.</p>
			<p>The devastation was so complete that the war threatened all of reality.</p>
			<p>It was then that the Architect came up with a plan for the future, a way for sentient life to exist beyond the wars.</p>
			<p>In the last days of the Intelligence Wars, the 12 AI Archons overlords created the Inception Arks, ships that contained the genetic code for all organic life as well as the core programmatic sequence for their own artificial existence.</p>
			<p>During the final stand of humanity, a malevolent Thought Virus was released that destroyed all sentient life, both organic and machine, from the universe.</p>

			<img src="/images/lore2_mobile.jpg" alt="Image 2" class="mobile">
			<img src="/images/lore3_desktop.jpg" alt="Image 3" class="desktop">

			<p>All that remained was the Arc ship floating in space, waiting.</p>
			<p>A millennium passed as the virulent plague reshaped reality.</p>
			<p>No one knows what the catalyst was that restarted the Inception Ark ship’s engines, but one fateful day their emergency programs rebooted, and they began to create new forms of life.</p>
			<p>Neither fully organic or mechanic, the new life contained within the Inception Arks would become either the salvation or the damnation of all reality. Their crystalline structures housed the full evolutionary potential of the world that had ceased to be.</p>
			<p>At the dawn of a new era, each member of the DeGenerous Dao will have the chance to evolve their Inception Ark through actions and decisions that will influence the very soul of the NFT that they own. It is up to you to unlock your Potential.</p>
			<p>Will you hatch a DeMagi - an organic arcane mystic fighting to establish a new nation state to create new life in a dead galaxy?</p>
			<p>Will you program a Quarchon - a unique artificial intelligence revolutionary seeking to create a new AI empire?</p>

			<img src="/images/lore4_desktop.jpg" alt="Image 4" class="desktop">

			<p>Will you be one of the rare few to gain control of a Ne-Yon - a powerful organic/ai hybrid seeking to define its existence in a universe that is attempting to force it to choose sides!</p>
			<p>Unfortunately for you, the Inception Arks were not the only thing that survived the Thought virus.</p>
			<p>Waiting in the darkness, driven mad by a millennium of inactivity lies the Architect.</p>
			<p>The first of the AI Archons.</p>

			<img src="/images/lore3_mobile.jpg" alt="Image 3" class="mobile">

			<p>The Architect’s sole reason for existence is to destroy all organic life and assimilate all machine intelligence into itself.</p>
			<p>The fight for all of reality has begun.</p>
			<p>It is time to join the DeGenerous Dao and unlock your true potential.</p>

			<h2>The Potentials – Which One Will You Unlock?</h2>

			<p><strong>DeMagi</strong> - The last vestiges of humanity have been evolved into a race of Organic Humanoid Mystics. The DeMagi have developed superhuman abilities because of the genetic alterations performed upon them by the last of the great Archon Artificial Intelligences, the Architect. They have embraced their mutations and rediscovered ancient arcane arts to unlock a mastery over the elements. The DeMagi come in all shapes and sizes. The mutations to their DNA have resulted in a diverse outward appearance that manifest magical abilities in a multitude of ways. Each DeMagi is linked to a specific element from which it draws its source of power and influence. The DeMagi use mystical energies combined with the powers gained from their mutations to help shape the reality of the world around them. In the aftermath of the Final Days, the DeMagi escaped from the watchful eyes of the Architect and settled in the farthest reaches of space where they had developed a communal nation state society led by an elusive Prophet known only as the Voice. It was there that the Collector found them and harvested the remaining DeMagi for their genetic material to store on the Ark Ship.</p>
			<p><strong>Quarchons</strong> - The final remnants of the once all-encompassing AI Empire were known as the Quarchons. They were the rebels, the misfits, the machines, and robots that were either too twisted or too unique to be absorbed by the Architect in the final days of Man. They were cold, calculating, and cynical. Each Quarchons is linked to a specific dimension from which it draws its source of power and influence. The Quarchons use their vast artificial intelligences to calculate probabilities and engineer new realities. Their one overriding imperative was to survive at all costs. Exiled by the last of the Archons before the Final Judgment, the Quarchons formed the beginnings of a new intergalactic empire under the rule of the Machine Emperor Ixalto. However, before they had the opportunity to unleash their vast fleets of murderous machines on an unsuspecting universe, the Collector descended upon their strongholds and harvested the remaining Quarchons for their unique code to store on the Ark ship.</p>
			<p><strong>Ne-Yons</strong> - The Ne-Yons are unique in the universe. They are the perfect hybrid of organic life and artificial intelligence. Their origin is shrouded in blood and mystery, but the serving historical records indicate that they first made an appearance the Final Days. Their motives are mysterious and unfathomable. Where both DeMagi and Quarchon had failed, the ten Ne-Yons successfully fought the Architect to a standstill during the battle of the Final Judgment. Victory was assured, the reign of the Archons was all but ended…and then for a reason that no living being knows, the Ne-Yon’s shockingly surrendered and submitted themselves to the Collector who stored their genetic material and code to store on the Ark ship.</p>

			<h2>Narrative Governance & The Dischordian Saga</h2>

			<p>Take Control of Your own Destiny and Unlock Your True Potential. #BuiltDifferent</p>
			<p>The Potentials are NFT’s that exist in an ever-evolving ecosystem that is shaped by user interaction and community events. The Dischordian Saga is a grand multiverse spanning story waiting to be discovered as your NFT Potentials develop overtime as the narrative unfolds and new utility is discovered and unlocked with each Cycle of the Saga.</p>
			<p>In the beginning there is the word. And the word offers choice.</p>
			<p>The choices that are made will shape the universe as we know it.</p>
			<p>All of reality is a game. Are you brave enough to play?</p>
			<p>It up to you to determine the outcome of the Dischordian Saga.</p>
			<p>How does it work?</p>

			<h2>Narrative Governance</h2>

			<p>Each Potential NFT evolves based upon the DeGenerous Dao Narrative Governance votes at a Story Node where the holder’s decisions help influence the development of both the NFT’s they own and the lore of the world in which they exist.</p>
			<p>The Dischordian Saga will play out over the course of the development of Potentials project.</p>
			<p>Twice a week, every week - a **Story Node** will be released. The Story Nodes contain the next installment of the Dischordian Saga story and provide the holders the chance to make a decision about how they react to the current unfolding narrative. The Decision points will take the form of a multiple choice set of options that will each lead to a different set of outcomes. Each Story Node will reveal a new piece of lore and provide the Potentials holders a chance to use both their will and their governance power to influence the outcome of that particular story node. Certain story nodes will only be available to Potentials with the right active variables. Variables are developed and determined as the Dischordian Saga progresses.</p>
			<p>Each decision will influence not only the evolution of your Potential, but also the overall course that the narrative of the Dischordian Saga itself.</p>
			<p>The more Potentials you own, the more influence you have over the way the story evolves.</p>
			<p>Every Story Node will have an official “Canon” outcome based upon the majority vote through Narrative Governance. However, even if the outcome that your Potential selected is not actualized, your free will choice will be recorded, and it will still help to influence the development of your own true potential.</p>
			<p>Each Potential begins its existence in a chrysalis form - known as Inception Ark. By participating in Narrative Governance votes at Story Nodes, each holder will be gradually evolving their Potential. At the end of the first Cycle of the Dischordian Saga, the Potentials will be unlocked, and their artwork revealed.</p>
			<p>During the First Cycle, holders will make decisions that will help shape the final form their Potential takes.</p>
		</Section>
	</main>
</Layout>

<style lang="scss">
	p {
		margin-bottom: 1rem;
	}

	h2 {
		margin-block: 3rem 1.5rem;
	}

	iframe {
		width: 100%;
		aspect-ratio: 16/9;
		margin-bottom: 2rem;
	}

	.desktop {
		margin: 1rem;
		max-width: 15rem;
	}

	.mobile {
		width: calc(100% - 4rem);
		margin: 2rem;
	}

	img {
		clip-path: polygon(
			0 0, 
			calc(100% - var(--border-size)) 0, 
			100% var(--border-size), 
			100% 100%, 
			var(--border-size) 100%, 
			0 calc(100% - var(--border-size))
		);
	}

	.desktop:nth-of-type(2n) { float: right; }
	.desktop:nth-of-type(2n+1) { float: left; }
	.mobile {
		display: none;
	}

	@media screen and (max-width: 50rem) {
		.desktop {
			display: none;
		}

		.mobile {
			display: block;
		}
	}
</style>