---
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Motivation | Degenerous">
	<main>
		<Section id="motivation">
			<h1>Motivation</h1>

            <p>Charity businesses have been around for centuries, providing aid to those in need around the world. However, hundreds of billions of dollars that are donated to these organizations every year never actually make it to the people in need.</p>
            <p>Blockchain is the perfect tool for charity businesses as it’s more efficient, lowers costs, and increases trust, security, and transparency. Due to its decentralized nature, donations are tamper-proof, and donors can track funds, without any personal information being disclosed.</p>
            <p>Furthermore, blockchain technology enables the creation of decentralized autonomous organizations (DAOs) that can use smart contracts, and multi-sigs to automate operations and manage funds, ensuring that the organization's funds are allocated in accordance with the predetermined rules and regulations.</p>
            <p>With the help of blockchain technology, dynamic NFTs, narrative governance, and the largest service organization in the world, DeGenerous DAO aims to revolutionize charity on its mission to change the world for the better.</p>
            <p>Besides increasing transparency and engagement in charity, this project can also incentivize charitable contributions by representing fundraises as NFTs and giving them utility.</p>
            <p>Potentials are NFTs that evolve based on varying decisions you make, whether it's how you move in a game or how you vote. The different traits you unlock will impact your storyline.</p>
            <p>DeGenerous DAO is committed to making the world a better place through service, as we will be donating $125 000 to Lions Clubs International Foundation* to fund and plan a Global Week of Service charity trip in 2024. Join DeGenerous DAO to unlock your true potential and help make the world a better place.</p>
            <p>*Due to their unique membership model, 100% of the funds donated to Lions go directly to people in need instead of funding salaries.</p>
        </Section>
    </main>
</Layout>