---
import Section from '@components/Section.astro';
import Layout from '@layouts/Layout.astro';
import SvelteRoadmap from '../components/roadmap/App.svelte'
---

<Layout title="Roadmap | Degenerous" page="Roadmap">
	<main>
		<Section gap>
            <!-- <h1>Roadmap</h1> -->
            <SvelteRoadmap name={undefined}/>
            <!-- <ul>
                <li>Distribute Inception Arks </li>
                <li>Start planning the service trips and distribution of $125 000 to charity </li>
                <li>Launch Conexus - AI-driven experiences</li>
                <li>Launch Narrative Governance - weekly secret voting influencing the Dischordian Saga and your NFTs in a trait-gated console</li>
                <li>Launch Story Nodes - AI-animated videos</li>
                <li>Launch the Multiverse Bifrost - connector to different metaverses and games</li>
                <li>Launch the Module - allowing NFT staking, IMGR burning</li>
                <li>Launch the Ark Entertainment System (arcade games)</li>
                <li>Launch IMGR - ERC20 utility token rewarded </li>
                <li>Unlock the Potentials out of Arks - avatar art reveal </li>
                <li>Launch gaming & metaverse events - weekly, and tied in the lore</li>
                <li>Set up a multi-sig charity wallet that anyone can donate to</li>
                <li>Form a decentralized charity fundraising platform</li>
            </ul> -->

            <p>At Degenerous DAO, we strive to revolutionize charity and NFTs. Our end goal is to build an NFT-governed decentralized platform that allows donors to directly fund verified meaningful causes and gives creators the power to guarantee efficient resource allocation. Our mission is to foster trust, transparency and collaboration in the industry to facilitate positive change in communities and create global impact.</p>
        </Section>
    </main>
</Layout>

<style lang="scss">
    ul {
        position: relative;
        list-style: none;
        margin-left: 2rem;

        li{
            position: relative;
            margin-bottom: 1.5rem;

            padding-left: 2rem;

            &::before, &::after {
                content: "";
                position: absolute;

                top: 50%;
                left: .1rem;
                translate: -50% -50%;

                height: 1rem;
                aspect-ratio: 1/1;
                border-radius: 50%;

                background-color: white;
            }

            &:after {
                background-color: hsl(var(--bg-color));

                left: 0.1rem;
                height: .75rem;
            }
        }

        &::before {
            content: "";
            position: absolute;
            inset-block: -1rem;
            width: .2rem;
            background: white;
        }
    }

    p {
        margin-top: 4rem;
    }
</style>
