<ether-provider>
    <div class="missing">
        <slot name="missing" />
    </div>
    <div class="wrong-network">
        <slot name="wrong-network" />
    </div>
    <div class="locked">
        <slot name="locked" />
    </div>
    <div class="ready">
        <slot />
    </div>
</ether-provider>

<script>
    import { get_state, change_listener } from "../lib/ether";

	class EtherProvider extends HTMLElement {
        async #update() {
            this.dataset.provider = await get_state();
        }

        async #initialize() {
            change_listener(() => { this.#update(); });
            this.#update();
        }

		constructor() {
			super();
            this.#initialize();
		}
	}

	customElements.define('ether-provider', EtherProvider);
</script>

<style lang="scss">
    ether-provider:not([data-provider]) {
        display: none;
    }

    $options: "missing", "wrong-network", "locked", "ready";

    @each $option in $options {
        [data-provider=#{$option}] :not(.#{$option}) {
            display: none;
        }
    }
</style>
