<footer>
    <div>
        <span class="logo">DEGENEROUS</span>
        <a href="mailto:info@degenerousdao.com">info@degenerousdao.com</a>
        <span>©2024 by DeGenerous Society Inc.</span>
    </div>
</footer>

<style lang="scss">
  @use "@styles/imports";

  footer {
    width: 100%;
    background-color: imports.$bg-color;
    padding-block: 3rem;
  }

  div {
    display: flex;
    flex-direction: column;
    max-width: imports.$content-width;
    margin-inline: auto;
    gap: .5rem;
  }
</style>