---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'section'> {
	width?: "full" | "main";
	title?: string;
	gap?: boolean;
	id?: string;
}

const { width = "main", gap, class : className, title, ...rest } = Astro.props;
---

<section {...rest} class={`${className} ${gap? "gap" : ""}`}>
	<div class={width}>
		{title ? <h1>{title}</h1>: <></>}
		<slot />
	</div>
</section>

<style lang="scss">
	section {
		display: grid;
		grid-template-columns: 
			[full-start] minmax(1rem, 1fr) 
			[main-start] minmax(0, 120ch) [main-end]
			minmax(1rem, 1fr) [full-end];

		.main {
  			grid-column: main;
		}

		.full {
  			grid-column: full;
		}

		div > :global(:where(h1, h2)) {
			text-align: center;
		}
	}

	.gap {
		padding-top: 5rem;
	}
</style>
