<section {...Astro.props}>
    <slot />
</section>

<style lang="scss">
    section {
		padding-inline: max(1rem, calc(50vw - 60ch));

		& :global(h1) {
			font-size: 4rem;
			line-height: 1;
			padding-block: 5rem 3rem;
		}

		& > :global(h1), & > :global(h2) {
			text-align: center;
		}
    }
</style>