---
import Section from "@components/Section.astro";
---

<Section>
    <h2>Using the power of Web3 technology to support humanitarian services, and foster community building through AI-driven experiences, gaming events, and entertainment within a community-governed narrative, leveraging the capabilities of dynamic NFTs.</h2>
</Section>

<style>
    h2 {
		background-color: var(--accent-color);
        padding-inline: 3rem;
        padding-block: 2rem;
        margin-bottom: 2rem;
        
		clip-path: polygon(
			0 0, 
			calc(100% - var(--border-size)) 0, 
			100% var(--border-size), 
			100% 100%, 
			var(--border-size) 100%, 
			0 calc(100% - var(--border-size))
		);
    }
</style>
