---
import Section from "../components/Section.astro";

---

<Section>
	<!-- <h1>Our goal</h1> -->
	<h2>Using Web3 technology to sustain charity and change the world for the better with the help of decentralization systems, dynamic NFTs, narrative governance, and the largest service organization in the world.</h2>
</Section>

<style>
    h2 {
        padding-block: 5rem 10rem;
    }
</style>