---
import Section from "../components/Section.astro";

---

<Section id="about">
    <h2>Using Web3 technology to sustain charity and change the world for the better with the help of decentralization systems, dynamic NFTs, narrative governance, and the largest service organization in the world.</h2>
</Section>

<style>
    #about {
        padding-top: 0;
        display: grid;
        place-content: center;
    }

    h2 {
		background-color: var(--accent-color);
        padding-inline: 3rem;
        padding-block: 2rem;
        margin-bottom: 2rem;
        
		clip-path: polygon(
			0 0, 
			calc(100% - var(--border-size)) 0, 
			100% var(--border-size), 
			100% 100%, 
			var(--border-size) 100%, 
			0 calc(100% - var(--border-size))
		);
    }
</style>