---
import Section from "../components/Section.astro";
---

<Section id="lions">
	<img src="/images/lions_logo.png" alt="Lions international">
	<p>The founders of DeGenerous DAO are members of the world’s largest service organization – <a href="https://www.lionsclubs.org/">Lions International</a>. As a part of their commitment to making the world a better place through service, they are working with Lions International and will be donating $125,000 to Lions Clubs International Foundation to fund a Global Week of Service charity trip in 2024.  This will be the second mission trip with Lions International that they have facilitated.  The first mission took place in Kenya in February of 2023 and was funded by Governor Pano. Over the course of 10 days, Pano & Maxi helped lead a team of 35 people working with the local Lions of Kenya to positively impact the lives of over 25,000 people during the course of 27 different service projects.</p>
	<p>With your help and the use of our innovative systems of Governance, DeGenerous DAO will be launching the second mission trip and will be giving holders the unique opportunity to help decide the types of service that are done on it!</p>
	<p>Make the World a Better Place.  Unlock Your True Potential.</p>
</Section>

<style lang="scss">
	strong {
		font-size: 1.5rem;
	}

	#lions {
		padding-top: 0rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		width: 90vw;
		max-width: 20rem;
		margin-inline: auto;
		margin-block: 3rem;
	}
</style>
