---
import Section from "../components/Section.astro";
---

<Section>
    <p><strong>partnered with the largest service organization in the world</strong></p>
    <img src="/images/lions_logo.png" alt="Lions international">
    <p>What started off as an App to tackle one specific industry has grown into an automated and intricate technology managing to make a breakthrough in the world of Online Payments. Since 2000, DeGenerous has been making users’ lives easier by offering a wide range of products and services through its extensive platform.</p>
</Section>

<style lang="scss">
    p {
        text-align: center;
        font-size: 1.25rem;
    }

    strong {
        font-size: 1.5rem;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 90vw;
        max-width: 20rem;
        margin-inline: auto;
        margin-block: 3rem;
    }
</style>