---
import Section from '../components/Section.astro';
---

<Section title="Proof of service" gap>
	<div class='video'>
		<iframe src='https://www.youtube-nocookie.com/embed/videoseries?list=PLhUHvGa0xBaQXb9kih3PnbvH2WnP3tpJO' title='Proof of Service' frameborder='0' allow='encrypted-media; web-share' allowfullscreen></iframe>
	</div>	
</Section>

<style lang='scss'>
	.video {		
		width: 100%;
	}
</style>
