---
import Section from "../components/Section.astro";
---

<Section>
    <h1>Proof of service</h1>
    <iframe width="100%" src="https://player.vimeo.com/video/801717880" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
</Section>

<style lang="scss">
    iframe {
        border: none;
        aspect-ratio: 16/9;
    }
</style>