---
import Section from "../components/Section.astro";
---

<Section>
    <h1>Proof of service</h1>
    <iframe src="https://www.youtube-nocookie.com/embed/iuQn4ygxoBs" title='The First Mission: Kenya "A Ball for All"' frameborder="0" allow="encrypted-media; web-share" allowfullscreen></iframe>
</Section>

<style lang="scss">
    iframe {
        border: none;
        width: 100%;
        aspect-ratio: 16/9;
    }
</style>