---
import Member from "@components/Member.astro";
import Section from "@components/Section.astro";
---

<Section id="team" title="Core team" gap>
	<ul class="team">
		<li class="founder">
			<Member name="Panopticus" title="Founder" img="/images/pano.jpg">
				<div class="contact">
					<a href="https://twitter.com/PanopticusV" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @PanopticusV
					</a>
					<a href="mailto:pano@degenerousdao.com">
						<img src="/icons/email.svg" alt="Twitter"> pano@degenerousdao.com
					</a>
				</div>
				<ul>
					<li>Lions clubs international district governor.</li>
					<li>Book publisher.</li>
					<li>International service trip coordinator.</li>
					<li>Community leader.</li>
				</ul>
			</Member>
		</li>
		<li class="founder">
			<Member name="Maxi" title="Founder" img="/images/maxi.jpg">
				<div class="contact">
					<a href="https://twitter.com/Kusamaximalist" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @Kusamaximalist
					</a>
					<a href="mailto:maxi@degenerousdao.com">
						<img src="/icons/email.svg" alt="Twitter"> maxi@degenerousdao.com
					</a>
				</div>
				<ul>
					<li>Experienced in marketing, growth, and writing as an ex-founder of a news platform with over 1M monthly viewers.</li>
					<li>Managed over 900k followers across facebook, instagram, and twitter. </li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Eve" title="Community manager" img="/images/eve.jpg">
				<div class="contact">
					<a href="https://twitter.com/NFTs_and_Eve" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @NFTs_and_Eve
					</a>
				</div>
				<ul>
					<li>Member of numerous clubs, varying from sports to non-profit</li>
					<li>Participated in and organized global events</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Shek" title="Business development" img="/images/shek.jpg">
				<div class="contact">
					<a href="https://twitter.com/sheklemec" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @sheklemec
					</a>
				</div>
				<ul>
					<li>Director of sales at BitGo</li>
					<li>ex-banker with 15 years of Capital Market and Sales & Trading experience</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Kit" title="Art Director" img="/images/kit.jpg">
				<div class="contact">
					<a href="https://twitter.com/ohayokeithy" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @ohayokeithy
					</a>
				</div>
				<ul>
					<li>More than 10 years of experience as a global freelance illustrator</li>
					<li>Over 2 years of experience with NFTs</li>
					<li>Handpicked Raresama artist, backed by Moonsama's team and the artist organization</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Vani" title="Developer" img="/images/vani.jpg">
				<div class="contact">
					<a href="https://twitter.com/vaniiSAMA" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @vaniiSAMA
					</a>
				</div>
				<ul>
					<li>Hardware engineer experienced with javascript & solidity</li>
				</ul>
			</Member>
		</li>		
		<li>
			<Member name="Vani's grandma" title="Developer" img="/images/grandma.jpg">
				<div class="contact">
					<a href="https://twitter.com/_cryptograndma" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @_cryptograndma
					</a>
				</div>
				<ul>
					<li>Years of web development experience</li>
				</ul>
			</Member>
		</li>		
		<li>
			<Member name="King Cryptok" title="Videographer" img="/images/cryptok.jpg">
				<div class="contact">
					<a href="https://twitter.com/King_Cryptok" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @King_Cryptok
					</a>
				</div>
				Experienced in commercial field photography, film experience, as well as a video editor for:
				<ul>
					<li>Lions clubs international multi-million dollar fundraisers.</li>
					<li>various blockchain-based projects</li>
					<li>contracted projects with over 1.2 million views.</li>
				</ul>
			</Member>
		</li>		
		<li>
			<Member name="Sniff" title="Developer" img="/images/sniff.jpg">
				<div class="contact">
					<a href="https://twitter.com/sniffdk_2" target="_blank">
						<img src="/icons/twitter.svg" alt="Twitter"> @sniffdk_2
					</a>
				</div>
				<ul>
					<li>Years of web development experience</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="You?" title="Join us" img="/images/pfp.jpg">
				<p style="margin-top: 10px">Looking to join our team?</p>
				<ul>
					<li>We are always on the lookout for talented people, especially UI/UX designers, game devs, and <a class="link-inline" href="https://docs.google.com/document/d/1VjeupgsKvM3f-Igqu4cf0Gxtr8u2rzn1BX1o8r5kBes/edit?usp=sharing" target="_blank">ambassadors</a></li>
					<li>Find our contact info just below</li>
				</ul>
			</Member>
		</li>
	</ul>
</Section>

<style lang="scss">
	.team {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		align-content: stretch;

		ul {
			margin-top: 1rem;
			list-style: disc;
			margin-inline: 2rem;
		}

		& > li {
			grid-column: span 1;
			display: flex;

			.contact {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				margin: 1rem;
				&.link-inline {
					display: inline;
					margin: 0;
					color: var(--link-color);
					text-decoration: underline;
				}

				a {
					display: flex;
					align-items: center;
					color: var(--fg-color);
					text-decoration: none;
					gap: 0.5rem;

					&:hover {
						opacity: 0.7;
					}
				}

				img {
					height: 2rem;
				}
			}

			li::marker {
				color: var(--card-border-color);
				font-weight: 900;
			}
		}

		@media screen and (min-width:50rem) {
			grid-template-columns: repeat(6, 1fr);
		 
			& > li {
				grid-column: span 2;

				&:first-of-type {
					grid-column: 2 / 4;
				}
			}
		}
	}
</style>
