---
import Member from "../components/Member.astro";
import Section from "../components/Section.astro";
---

<Section id="team">
	<h1>Core team</h1>
	<ul class="team">
		<li class="founder">
			<Member name="Panopticus" title="Founder" img="/images/pano.png">
				<a href="https://twitter.com/PanopticusV">
					<img src="/icons/twitter.svg" alt="Twitter"> @PanopticusV
				</a>
				<ul>
					<li>Lions clubs international district governor.</li>
					<li>Book publisher.</li>
					<li>International service trip coordinator.</li>
					<li>Community leader.</li>
				</ul>
			</Member>
		</li>
		<li class="founder">
			<Member name="Maxi" title="Founder" img="/images/maxi.jpg">
				<a href="https://twitter.com/Kusamaximalist">
					<img src="/icons/twitter.svg" alt="Twitter"> @Kusamaximalist
				</a>
				<ul>
					<li>Experienced in marketing, growth, and writing as an ex-founder of a news platform with over 1M monthly viewers.</li>
					<li>Managed over 900k followers across facebook, instagram, and twitter. </li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Vani" title="Developer" img="/images/vani.jpg">
				<a href="https://twitter.com/vaniiSAMA">
					<img src="/icons/twitter.svg" alt="Twitter"> @vaniiSAMA
				</a>
				<ul>
					<li>Hardware engineer experienced with javascript & solidity</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Vani's grandma" title="Developer" img="/images/grandma.jpg">
				<a href="https://twitter.com/_cryptograndma">
					<img src="/icons/twitter.svg" alt="Twitter"> @_cryptograndma
				</a>
				<ul>
					<li>Years of web development experience</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Kit" title="Art Director" img="/images/kit.jpg">
				<a href="https://twitter.com/ohayokeithy">
					<img src="/icons/twitter.svg" alt="Twitter"> @ohayokeithy
				</a>
				<ul>
					<li>More than 10 years of experience as a global freelance illustrator</li>
					<li>Over 2 years of experience with NFTs</li>
					<li>Handpicked Raresama artist, backed by Moonsama's team and the artist organization</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="King Cryptok" title="Videographer" img="/images/cryptok.jpg">
				<a href="https://twitter.com/King_Cryptok">
					<img src="/icons/twitter.svg" alt="Twitter"> @King_Cryptok	
				</a>
				Experienced in commercial field photography, film experience, as well as a video editor for:
				<ul>
					<li>Lions clubs international multi-million dollar fundraisers.</li>
					<li>various blockchain-based projects</li>
					<li>contracted projects with over 1.2 million views.</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Eve" title="Community manager" img="/images/eve.jpg">
				<ul>
					<li>Big believer in empowerment, goodwill, and Web3 models</li>
					<li>Volleyball girl and hopeful world traveler</li>
				</ul>
			</Member>
		</li>
		<li>
			<Member name="Shek" title="Bussiness development" img="/images/shek.png">
				<a href="https://twitter.com/sheklemec">
					<img src="/icons/twitter.svg" alt="Twitter"> @sheklemec
				</a>
				<ul>
					<li>Director of sales at BitGo</li>
					<li>ex-banker with 15 years of Capital Market and Sales & Trading experience</li>
				</ul>
			</Member>
		</li>
	</ul>
</Section>

<style lang="scss">
	.team {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		align-content: stretch;

		ul {
			margin-top: 1rem;
			list-style: disc;
			margin-inline: 2rem;
		}

		& > li {
			grid-column: span 1;
			display: flex;

			a {
				display: flex;
				gap: 0.5rem;
				align-items: center;
				color: var(--fg-color);
				text-decoration: none;
				margin: 1rem;

				&:hover {
					opacity: 0.7;
				}

				img {
					height: 2.5rem;
				}
			}

			li::marker {
				color: var(--card-border-color);
				font-weight: 900;
			}
		}

		@media screen and (min-width:50rem) {
			grid-template-columns: repeat(6, 1fr);
		 
			& > li {
				grid-column: span 2;

				&:first-of-type {
					grid-column: 2 / 4;
				}
			}
		}
	}
</style>
