---
import Member from "../components/Member.astro";
import Section from "../components/Section.astro";
---

<Section>
    <h1>Core team</h1>
    <ul class="team">
        <li class="founder">
            <Member name="Panopticus" title="Founder" img="/images/pano.jpg">
                <ul>
                    <li>Lions clubs international district governor.</li>
                    <li>Book publisher.</li>
                    <li>International service trip coordinator.</li>
                    <li>Community leader.</li>
                </ul>
            </Member>
        </li>
        <li class="founder">
            <Member name="Kusama Maxi" title="Founder" img="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80">
                <ul>
                    <li>Experienced in marketing, growth, and writing as an ex-founder of a news platform with over 1M monthly viewers.</li>
                    <li>Managed over 900k followers across facebook, instagram, and twitter. </li>
                </ul>
            </Member>
        </li>
        <li>
            <Member name="Vani" title="Developer" img="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80">
                <ul>
                    <li></li>
                </ul>
            </Member>
        </li>
        <li>
            <Member name="Vani's grandma" title="Developer" img="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80">
                <ul>
                    <li>Experienced web developer</li>
                    <li>Yu-gi-oh enthusiast</li>
                    <li>Sky striker enjoyer</li>
                </ul>
            </Member>
        </li>
        <li>
            <Member name="King Cryptok" title="Videographer" img="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80">
                <ul>
                </ul>
            </Member>
        </li>
        <li>
            <Member name="Eve" title="Community manager" img="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80">
                <ul>
                    <li>Counter Strike lover</li>
                    <li>DDR queen</li>
                    <li>turned corporate volleyball player</li>
                </ul>
            </Member>
        </li>
        <li>
            <Member name="Kit" title="Art Director" img="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80">
                <ul>
                    <li>More than 10 years of experience as a global freelance illustrator</li>
                    <li>Over 2 years of experience with NFTs</li>
                    <li>Handpicked Raresama artist, backed by Moonsama's team and the artist organization</li>
                </ul>
            </Member>
        </li>
        <li>
            <Member name="Shek" title="Bussiness development" img="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80">
                <ul>
                    <li>Director of sales at BitGo</li>
                    <li>ex-banker with 15 years of Capital Market and Sales & Trading experience</li>
                </ul>
            </Member>
        </li>
    </ul>
</Section>

<style lang="scss">
    .team {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-content: stretch;

        ul {
            margin-top: 1rem;
            list-style: disc;
            margin-inline: 2rem;
        }

        & > li {
            grid-column: span 1;
            display: flex;

            li::marker {
                color: var(--card-border-color);
                font-weight: 900;
            }
        }

        @media screen and (min-width:50rem) {
            grid-template-columns: repeat(6, 1fr);
         
            & > li {
                grid-column: span 2;

                &:first-of-type {
                    grid-column: 2 / 4;
                }
            }
        }
    }
</style>