---
import Member from "../components/member.astro";
---
<section class="full-width our-team">
  <h2>Our Team</h2>
  <div class="swiper">    
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <Member name="Pano (Daniel Elkins)" title="Founder" img="/images/team/pano.jpg" placement="first">
                <div class="contact">
                    <a href="https://twitter.com/PanopticusV" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @PanopticusV
                    </a>
                    <a href="mailto:pano@degenerousdao.com">
                        <img src="/icons/email.svg" alt="Twitter"> pano@degenerousdao.com
                    </a>
                </div>
                <ul>
                    <li>Lions clubs international district governor.</li>
                    <li>Book publisher.</li>
                    <li>International service trip coordinator.</li>
                    <li>Community leader.</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Maxi (Uros Trbovic)" title="Founder" img="/images/team/maxi.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/Kusamaximalist" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @Kusamaximalist
                    </a>
                    <a href="mailto:maxi@degenerousdao.com">
                        <img src="/icons/email.svg" alt="Twitter"> maxi@degenerousdao.com
                    </a>
                </div>
                <ul>
                    <li>Experienced in marketing, growth, and writing as an ex-founder of a news platform with over 1M monthly viewers.</li>
                    <li>Managed over 900k followers across facebook, instagram, and twitter. </li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Kyt" title="Lead Ambassador" img="/images/team/kyt.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/fraydikyt" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @fraydikyt
                    </a>
                </div>
                <ul>
                    <li>Passionate web3 community and creative advocate who strives to empower both.</li>
                    <li>Over two decades of experience in team and community building, content production, strategy and management.</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Shek (Peter Shekleton)" title="Business developer" img="/images/team/shek.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/sheklemec" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @sheklemec
                    </a>
                </div>
                <ul>
                    <li>Ex-director of sales at BitGo</li>
                    <li>Ex-banker with 15 years of Capital Market and Sales & Trading experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Eve" title="Community manager" img="/images/team/eve.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/NFTs_and_Eve" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @NFTs_and_Eve
                    </a>
                </div>
                <ul>
                    <li>Member of numerous clubs, varying from sports to non-profit</li>
                    <li>Participated in and organized global events</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="King Cryptok (Sean Dugan)" title="Videographer" img="/images/team/cryptok.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/King_Cryptok" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @King_Cryptok
                    </a>
                </div>
                Experienced in commercial field photography, film experience, as well as a video editor for:
                <ul>
                    <li>Lions clubs international multi-million dollar fundraisers.</li>
                    <li>various blockchain-based projects</li>
                    <li>contracted projects with over 1.2 million views.</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Dimon" title="Graphic designer" img="/images/team/dimon.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/windickated" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @windickated
                    </a>
                </div>
                Years of experience as a freelance graphics designer
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Sniff" title="Developer" img="/images/team/sniff.png" placement="">
                <div class="contact">
                    <a href="https://twitter.com/sniffdk_2" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @sniffdk_2
                    </a>
                </div>
                <ul>
                    <li>Years of web development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Vani" title="Developer" img="/images/team/vani.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/vaniiSAMA" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @vaniiSAMA
                    </a>
                </div>
                <ul>
                    <li>Hardware engineer experienced with javascript & solidity</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Kit" title="Art Director" img="/images/team/kit.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/ohayokeithy" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @ohayokeithy
                    </a>
                </div>
                <ul>
                    <li>More than 10 years of experience as a global freelance illustrator</li>
                    <li>Over 2 years of experience with NFTs</li>
                    <li>Handpicked Raresama artist, backed by Moonsama's team and the artist organization</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Grandma" title="Developer" img="/images/team/grandma.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/_cryptograndma" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @_cryptograndma
                    </a>
                </div>
                <ul>
                    <li>Years of web development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Rasmus" title="Developer" img="/images/team/rasmus.jpg" placement="">
                <ul>
                    <li>Years of web development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Malysh" title="Game developer" img="/images/team/malysh.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/AlbertMalysh" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @AlbertMalysh
                    </a>
                </div>
                <ul>
                    <li>Years of game development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="You?" title="Join us" img="/images/team/pfp.jpg" placement="last">
                <p style="margin-top: 10px">Looking to join our team?</p>
                <ul>
                    <li>
                        We are always on the lookout for talented people, especially UI/UX designers, game devs, and
                        <a
                            href="https://docs.google.com/document/d/1VjeupgsKvM3f-Igqu4cf0Gxtr8u2rzn1BX1o8r5kBes/edit?usp=sharing"
                            target="_blank">
                            ambassadors
                        </a>
                    </li>
                    <li>Find our contact info just below</li>
                </ul>
            </Member>
        </div>
    </div>
    <div class="swiper-scrollbar">
        <div class="swiper-scrollbar-drag"></div>
    </div>
  </div>
  <div id="member-details-modal" class="member-details modal">
    <div class="member-details-wrapper">
        <button class="exit" />
        <div class="member-details-content"></div>
    </div>
  </div>
</section>

<style lang="scss">
    @use "@styles/imports";

    h2 {
      width: imports.$content-width;
      margin-inline: auto;
      font-size: 69px;
      text-transform: uppercase;
    }

    .our-team {
        margin: 0 30px;
    }

    .scroll {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .team {
      display: flex;
      overflow-x: hidden;
      overflow-y: auto;
      gap: 0.2rem;
      padding-block: 1rem;
      padding-inline: 2rem;
    }

    .member-details {
        transition: opacity .1s;
		position: fixed;
		inset: 0;
		background-color: hsla(0, 0%, 0%, 0.8);
		opacity: 0;
		pointer-events: none;
		display: grid;
		place-content: center;
		z-index: 1000;

        .member-details-wrapper {
            display: block;
            width: calc(100vw - 2rem);
            max-width: 40rem;
            background-color: hsl(var(--bg-color));

            border-radius: var(--corner-size);
            border: solid 4px var(--card-border-color);

            transition: translate .2s, opacity .2s;
            translate: 0 2rem;
            opacity: 0;

            max-height: 90vh;
            overflow-y: auto;
        }
        .exit {
            padding: 1.5rem;
            position: absolute;
            color: var(--fg-color);
            aspect-ratio: 1/1;
            top: 1rem;
            right: 1rem;
            background-color: hsl(var(--bg-color));

            &::before, &::after {
                position: absolute;
                content: "";
                height: .75rem;
                width: .15rem;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                background-color: white;
            }

            &::before { rotate: -45deg; }
            &::after  { rotate: 45deg;  }
        }
    }

    [data-open] {
		cursor: initial;
        opacity: 1;
        pointer-events: initial;
		
		.member-details-wrapper {
			translate: 0;
			opacity: 1;
		}
	}

    [data-open="closing"] {
		.member-details-wrapper {
			translate: 0 -2rem;
			opacity: 0;
		}
	}

    .swiper {
      width: 100%;
      padding: 30px 0px 50px;
    }

    .swiper-slide {
      width: auto;
    }

    .swiper-scrollbar {
        background-color: imports.$swiper-scrollbar-bg;
    }

    .swiper-scrollbar-drag {
        background-color: imports.$swiper-scrollbar-drag;
    }

</style>

<script>    
  import Swiper from 'swiper';
  import { Scrollbar } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/scrollbar';
    
  const swiper = new Swiper(".swiper", {
      slidesPerView: "auto",
      spaceBetween: 10,
      scrollbar: {
        el: ".swiper-scrollbar",
        hide: false
      },
      modules: [Scrollbar]
    });

    const modal = document.querySelector("#member-details-modal") as HTMLDivElement;
    const wrapper = document.querySelector(".member-details-wrapper") as HTMLDivElement;
    const exit = modal.querySelector(".exit") as HTMLDivElement;

    const close = () => {
        if(modal.dataset.open !== "true") {
            return;
        }

        modal.dataset.open = "closing";
        setTimeout(() => {
            modal.dataset.closed = "true";
            delete modal.dataset.open;
        }, 200);
    }

    wrapper.addEventListener("click", (e: MouseEvent) => {
        e.stopPropagation();
    })

    modal.addEventListener("click", close);
    exit.addEventListener("click", close);
    window.addEventListener('keydown', (e: KeyboardEvent) => {
        if (e.key === 'Escape') { 
            close(); 
        }
    })
    
</script>