---
import Member from "../components/member.astro";
---
<section class="full-width our-team">
  <h2>Our Team</h2>
  <div class="swiper swiper--our-team">    
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <Member name="Pano (Daniel Elkins)" title="Founder" img="/images/team/pano.jpg" placement="first">
                <div class="contact">
                    <a href="https://twitter.com/PanopticusV" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @PanopticusV
                    </a>
                    <a href="mailto:pano@degenerousdao.com">
                        <img class="email-icon" src="/icons/email.svg" alt="Email"> pano@degenerousdao.com
                    </a>
                </div>
                <p>
                    Lions Club International Board Appointee, book publisher and game designer with a 
                    decade of experience developing community narrative expansions with millions of players 
                    like Dragon Age: Dark Times and Star Wars: Rise of the Silent Council.
                </p>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Maxi (Uros Trbovic)" title="Founder" img="/images/team/maxi.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/Kusamaximalist" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @Kusamaximalist
                    </a>
                    <a href="mailto:maxi@degenerousdao.com">
                        <img class="email-icon" src="/icons/email.svg" alt="Email"> maxi@degenerousdao.com
                    </a>
                </div>
                <p>
                    Founded a news platform with over 1M active users, managed over 900k 
                    followers across social media, and experienced in marketing, growth and writing.</p>                
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Kyt" title="Lead Ambassador" img="/images/team/kyt.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/fraydikyt" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @fraydikyt
                    </a>
                </div>
                <ul>
                    <li>Passionate web3 community and creative advocate who strives to empower both.</li>
                    <li>Over two decades of experience in team and community building, content production, strategy and management.</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Shek (Peter Shekleton)" title="CCO" img="/images/team/shek.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/sheklemec" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @sheklemec
                    </a>
                </div>
                <p>
                    Ex-Director of Sales at Bitgo. 
                    Ex-banker with 15 years of capital market, sales and trading experience, and experienced in scaling start-ups and closing large enterprise deals.
                </p>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Eve" title="Community manager" img="/images/team/eve.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/NFTs_and_Eve" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @NFTs_and_Eve
                    </a>
                </div>
                <ul>
                    <li>Member of numerous clubs, varying from sports to non-profit</li>
                    <li>Participated in and organized global events</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="King Cryptok (Sean Dugan)" title="Videographer" img="/images/team/cryptok.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/King_Cryptok" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @King_Cryptok
                    </a>
                </div>
                Experienced in commercial field photography, film experience, as well as a video editor for:
                <ul>
                    <li>Lions clubs international multi-million dollar fundraisers.</li>
                    <li>various blockchain-based projects</li>
                    <li>contracted projects with over 1.2 million views.</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Dimon" title="Graphic designer" img="/images/team/dimon.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/windickated" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @windickated
                    </a>
                </div>
                Years of experience as a freelance graphics designer
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Sniff (Mads Krohn)" title="Developer" img="/images/team/sniff.png" placement="">
                <div class="contact">
                    <a href="https://twitter.com/sniffdk_2" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @sniffdk_2
                    </a>
                </div>
                <ul>
                    <li>Years of web development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Vani" title="Developer" img="/images/team/vani.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/vaniiSAMA" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @vaniiSAMA
                    </a>
                </div>
                <ul>
                    <li>Hardware engineer experienced with javascript & solidity</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Kit" title="Art Director" img="/images/team/kit.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/ohayokeithy" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @ohayokeithy
                    </a>
                </div>
                <ul>
                    <li>More than 10 years of experience as a global freelance illustrator</li>
                    <li>Over 2 years of experience with NFTs</li>
                    <li>Handpicked Raresama artist, backed by Moonsama's team and the artist organization</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Grandma" title="Developer" img="/images/team/grandma.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/_cryptograndma" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @_cryptograndma
                    </a>
                </div>
                <ul>
                    <li>Years of web development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Rasmus" title="Developer" img="/images/team/rasmus.jpg" placement="">
                <ul>
                    <li>Years of web development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="Malysh" title="Game developer" img="/images/team/malysh.jpg" placement="">
                <div class="contact">
                    <a href="https://twitter.com/AlbertMalysh" target="_blank">
                        <img src="/icons/twitter.svg" alt="Twitter"> @AlbertMalysh
                    </a>
                </div>
                <ul>
                    <li>Years of game development experience</li>
                </ul>
            </Member>
        </div>
        <div class="swiper-slide">
            <Member name="You?" title="Join us" img="/images/team/pfp.jpg" placement="last">
                <p style="margin-top: 10px">Looking to join our team?</p>
                <ul>
                    <li>
                        We are always on the lookout for talented people, especially UI/UX designers, game devs, and
                        <a
                            href="https://docs.google.com/document/d/1VjeupgsKvM3f-Igqu4cf0Gxtr8u2rzn1BX1o8r5kBes/edit?usp=sharing"
                            target="_blank">
                            ambassadors
                        </a>
                    </li>
                    <li>Find our contact info just below</li>
                </ul>
            </Member>
        </div>
    </div>
    <div class="swiper-scrollbar">
        <div class="swiper-scrollbar-drag"></div>
    </div>
  </div>
  <div id="member-details-modal" class="member-details-modal modal">
    <div class="member-details-wrapper">
        <button class="exit" />
        <div class="member-details-content"></div>
    </div>
  </div>
</section>

<style lang="scss">
    @use "@styles/imports";

    h2 {
      width: imports.$content-width;
      margin-inline: auto;
      font-size: 3rem;
      text-transform: uppercase;
    }

    .our-team {
        margin: 0 30px;
    }

    .scroll {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .team {
      display: flex;
      overflow-x: hidden;
      overflow-y: auto;
      gap: 0.2rem;
      padding-block: 1rem;
      padding-inline: 2rem;
    }

    [data-open] {
		cursor: initial;
        opacity: 1;
        pointer-events: initial;
		
		.member-details-wrapper {
			translate: 0;
			opacity: 1;
		}
	}

    [data-open="closing"] {
		.member-details-wrapper {
			translate: 0 -2rem;
			opacity: 0;
		}
	}

    .swiper--our-team {
      width: 100%;
      padding: 20px 0px 30px;
    }

    .swiper--our-team .swiper-slide {
      width: auto;
    }

    .swiper--our-team .swiper-scrollbar {
        background-color: imports.$swiper-scrollbar-bg;
    }

    .swiper--our-team .swiper-scrollbar-drag {
        background-color: imports.$swiper-scrollbar-drag;
    }

</style>

<style lang="scss" is:global>
    @use "@styles/imports";

    .member-details-modal {
        transition: opacity .1s;
		position: fixed;
		inset: 0;
		background-color: hsla(0, 0%, 0%, 0.8);
		opacity: 0;
		pointer-events: none;
		display: grid;
		place-content: center;
		z-index: 1000;

        .member-details-wrapper {
            display: block;
            width: calc(100vw - 2rem);
            max-width: 40rem;
            background-color: hsl(var(--bg-color));

            border-radius: var(--corner-size);
            border: solid 4px var(--card-border-color);

            transition: translate .2s, opacity .2s;
            translate: 0 2rem;
            opacity: 0;

            max-height: 90vh;
            overflow-y: auto;
        }
        .member-details-content {
            display: flex;
            gap: 1.5rem;
            padding: 1.5rem;            
            background-color: imports.$bg-color;
            border: 1px solid imports.$card-color;
            border-radius: 1.5rem;
            h2 {
                margin-top: 2px;
                margin-bottom: 0.1rem;
                padding-right: 30px;
                font-size: 1.5rem;
                font-weight: 700;
            }
            h3 {
                margin-top: 0px;
                font-size: 1.15rem;
            }
            img {
            }
            ul {
                list-style-type: disc;
                margin-inline: 1rem;
                li {
                    margin-top: 6px;
                    line-height: 1.2;
                    &::marker {
                        color: imports.$accent-fg-color;
                    }
                }
            }
            .member-details-info {                
                font-size: 1rem;
            }
            .contact {                
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                margin: 1rem 0;
                a {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    font-size: 1rem;
                    color: #fff;
                    text-decoration: none;                    
                }
                img {
                    width: 32px;
                    &.email-icon {
                        width: 30px;
                    }
                }
            }
        }
        .exit {
            padding: 1.5rem;
            position: absolute;
            color: var(--fg-color);
            aspect-ratio: 1/1;
            top: 1rem;
            right: 1rem;
            background-color: hsl(var(--bg-color));

            &::before, &::after {
                position: absolute;
                content: "";
                height: .75rem;
                width: .15rem;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                background-color: white;
            }

            &::before { rotate: -45deg; }
            &::after  { rotate: 45deg;  }
        }
    }

    @media screen and (max-width: 60rem) {
        .member-details-modal {
            .member-details-content {
                display: block;
                h2 {
                    margin-top: 12px;
                    font-size: 1.2rem;
                }
                h3 {
                    font-size: 1rem;
                }
                .member-details-picture {
                    //margin-top: 20px;
                    width: calc(100% - 48px);
                }
            }
        }
    } 
</style>

<script>    
  import Swiper from 'swiper';
  import { Scrollbar, Mousewheel } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/scrollbar';
    
  const ourTeamSwiper = new Swiper(".swiper--our-team", {
      slidesPerView: "auto",
      spaceBetween: 10,
      scrollbar: {
        el: ".swiper-scrollbar",
        draggable: true,
        hide: false
      },
      mousewheel: {
        releaseOnEdges: true,
        forceToAxis: true
      },
      modules: [Scrollbar, Mousewheel]
    });

    const modal = document.querySelector("#member-details-modal") as HTMLDivElement;
    const wrapper = document.querySelector(".member-details-wrapper") as HTMLDivElement;
    const exit = modal.querySelector(".exit") as HTMLDivElement;

    const close = () => {
        if(modal.dataset.open !== "true") {
            return;
        }

        modal.dataset.open = "closing";
        setTimeout(() => {
            modal.dataset.closed = "true";
            delete modal.dataset.open;
        }, 200);
    }

    wrapper.addEventListener("click", (e: MouseEvent) => {
        e.stopPropagation();
    })

    modal.addEventListener("click", close);
    exit.addEventListener("click", close);
    window.addEventListener('keydown', (e: KeyboardEvent) => {
        if (e.key === 'Escape') { 
            close(); 
        }
    })
    
</script>