---
import Footer from "../components/Footer.astro";
export interface Props {
  title: string;
  page: string;
}

const { title, page } = Astro.props;

import Header from "@components/Header.astro";
import "@styles/index.scss";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Degenerous DAO" />
    <meta
      property="og:description"
      content="We’re shaping a fairer world by powering the next-gen creator’s economy with GenAI and user-centric tools."
    />
    <meta property="og:image" content="/assets/logo.png" />
    <meta property="og:url" content={`https://degenerousdao.com/${page}`} />
    <meta property="og:type" content="website" />

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@degenerousdao" />
    <meta name="twitter:creator" content="@degenerousdao" />
    <meta name="twitter:title" content="Degenerous DAO" />
    <meta
      name="twitter:description"
      content="We’re shaping a fairer world by powering the next-gen creator’s economy with GenAI and user-centric tools."
    />
    <meta name="twitter:image" content="/assets/logo.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <slot name="head" />
  </head>
  <body>
    <Header page={page} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style lang="scss">
  main {
    min-height: 100vh;
  }
</style>
