---
export interface Props {
	title: string;
}

const { title } = Astro.props;


import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap" rel="stylesheet">

		<title>{title}</title>
		<script defer data-domain="degenerousdao.com" src="https://plausible.io/js/script.js"></script>
		<script defer src="https://smtpjs.com/v3/smtp.js"></script>
	</head>
	<body>
		<Header page="index" />
		<slot />
		<footer>
			<span class="logo">DEGENEROUS</span>
			<a href="mailto:info@degenerousdao.com">info@degenerousdao.com</a>
			<span>©2023 by DeGenerousDao</span>
		</footer>
	</body>
</html>

<style is:global lang="scss">
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	:root {
		--bg-color: 254, 33%, 12.5%;
		--bg-color-transparent: hsl(254, 33%, 12.5%, 0.7);
		--fg-color: white;

		--accent-color: hsl(254, 33%, 30%);
		--accent-color-transparent: hsla(254, 33%, 30%, .7);
		--accent-color-fully-transparent: hsla(254, 33%, 30%, 0);
		--on-accent-color: white;
		--accent-gradient: linear-gradient(to right, var(--accent-color), hsl(var(--bg-color)));
		--accent-gradient-reverse: linear-gradient(to left, var(--accent-color), hsl(var(--bg-color)));
		--link-color: hsl(254, 50%, 70%);

		--card-color: var(--bg-color);
		--card-text-color: white;
		--card-hover-color: hsl(254, 33%, 35%);
		--card-hover-text-color: white;
		--card-border-color: hsl(254, 33%, 40%);

		--corner-size: .35rem;
        --border-size: 2rem;
	}
	
	html {
		font-family: 'Poppins', sans-serif;
		background-color: hsl(var(--bg-color));
		color: var(--fg-color);
		-webkit-tap-highlight-color: transparent;
	}

	::selection {
		background-color: var(--card-border-color);
	}

	h1, h2, h3, strong {
		font-family: 'Righteous', cursive;
	}

	footer {
		background-color: var(--accent-color);
		color: var(--fg-color);
		display: flex;
		flex-direction: column;
		padding: 2rem;
		gap: .25rem;
		align-items: flex-start;
		margin-top: 5rem;

		.logo {
			font-family: 'Righteous', cursive;
			font-size: 2rem;
		}

		a {
			color: var(--fg-color);
			text-decoration: none;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	a {
		text-decoration: none;
		color: var(--link-color);

		&:hover {
			filter: brightness(.7);
		}

		&:active {
			filter: brightness(.5);
		}
	}

	main {
		min-height: 100vh;
	}
</style>
