---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
import "@styles/index.scss"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap" rel="stylesheet">

		<title>{title}</title>
		<script defer data-domain="degenerousdao.com" src="https://plausible.io/js/script.js"></script>
		<script defer src="https://smtpjs.com/v3/smtp.js"></script>
	</head>
	<body>
		<Header page="index" />
		<slot />
		<footer>
			<span class="logo">DEGENEROUS</span>
			<a href="mailto:info@degenerousdao.com">info@degenerousdao.com</a>
			<span>©2023 by DeGenerousDao</span>
		</footer>
	</body>
</html>
